.work-experience-card {
  color: white;
  background: #130f2a;
  border-radius: 0.65rem;
  border: 1.5px solid #6751b9;
  padding: 1.9rem;
  /* margin: rem 0rem; */
  max-width: 53rem;
  /* width: min(90% 1000px); */
}

.work-experience-card > h4 {
  font-size: 1.05rem;
  font-weight: 600;
  margin-bottom: 0.7rem;
  /* text-align: center;
  justify-content: center; */
}
.work-duration {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  background: #573fac;
  border-radius: 0.3rem;
  padding: 0.4rem 0.6rem;
  margin-bottom: 1.3rem;
}
.work-experience-card > ul > li {
  list-style: none;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  position: relative;
}
.work-experience-card ul li::after {
  content: " ";
  width: 0.5rem;
  height: 0.5rem;
  background-color: #6751b9;
  border-radius: 0.5rem;
  position: absolute;
  left: -1.3rem;
  top: 0.35rem;
}
@media (max-width: 320px) {
  .work-experience-card > .row > h4 {
    font-size: 13px;
    font-weight: 800;
    margin-bottom: 0.7rem;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}
/* @media (max-width: 760px) {
  .work-experience-card {
    margin: 0;
  }
  .work-experience-card h4 {
    font-size: 1rem;
  }
  .work-experience-card ul li {
    font-size: 0.95rem;
  }
} */
